<div>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/home">Roster</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a (click)="handleClick()"class="navLinks" href="{{this.link}}" routerLink="{{this.link}}" >{{this.login}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>

