<div class="centered">
  <search></search>
  <div class="icon" *ngIf="this.person.image">
    <img class="img-thumbnail" 
    src="Pictures/{{this.person.image}}" alt="Profile Picture">
  </div>
  <div class="name">
    {{this.person.firstName}} {{this.person.lastName}} 
  </div>
  <div class="major">
    {{this.person.major}}
  </div>
  <div class="office">
    {{this.person.office}}
  </div>
  <div class="email">
    <a href="mailto:{{this.email}}?Subject=Hey%20there" target="_top">
      {{this.email}}
    </a>
  </div>
  <div class="panel panel-default" *ngIf="person.oh">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" href="#officeHours">
          Office Hours 
        </a>
      </h5>
    </div>
    <div id="officeHours" class="panel-collapse collapse in">
      <div class="panel-body">
        <schedule [times]="person.oh"></schedule>
      </div>
    </div>
  </div>

  <div class="panel panel-default" *ngIf="person.skills">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" href="#cTaken">
          Skills
        </a>
      </h5>
    </div>
    <div id="cTaken" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class='cTaken' *ngFor="let s of person.skills">
          {{s.skill}} 
          <span class="staffLinks">
            Comfort: {{s.comfort}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" *ngIf="person.cTaken">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" href="#cTaken">
          Courses Taken
        </a>
      </h5>
    </div>
    <div id="cTaken" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class='cTaken' *ngFor="let ct of person.cTaken">
          {{ct.num}} {{ct.name}}
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" *ngIf="person.enrolled">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" href="#cEnrolled">
          Currently Enrolled
        </a>
      </h5>
    </div>
    <div id="cEnrolled" class="panel-collapse collapse in">
      <div class='panel-body'>
        <div class='cEnrolled' *ngFor="let e of person.enrolled">
          {{e.num}} {{e.name}}
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" *ngIf="person.ct">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" href="#cTimes">
          Course Times
        </a>
      </h5>
    </div>
    <div id="cTimes" class="panel-collapse collapse in">
      <div class="panel-body">
        <schedule [times]="person.ct"></schedule>
      </div>
    </div>
  </div>

</div>
